:root {
  --bg: #f3f3e9;
  --text: #2e2e2e;
  --brand: #b92b5d;
  --mutedText: #373052;
  --timerBg: #e9e8e3;
  --success: #06af52;
  --failure: #af9b06;
  --brand-40: rgba(185, 43, 93, 0.4);
}

$radius: 12px;
$shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
